{% extends 'admin.html.twig' %}

{% block body %}
<!--Container Main start-->
<div class="container mt-5 pt-4">
    <div class="row">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda recusandae quas facere necessitatibus
        consequatur harum! Eius, officiis? Assumenda molestias voluptatem perspiciatis voluptate unde!
    </div>
</div>
{% endblock %}