@font-face {
  font-family: Mont;
  src: url(./Montserrat-Regular.ttf);
}

* {
  font-family: Mont;
}

textarea.resize {
  resize: none;
}


.form {
  width: 80%;
  min-width: 380px;
  max-width: 80%;
  margin: 0 auto;
  background: white;
  display: grid;
  grid-template-rows: repeat(4, 100px);
  padding: 60px 45px 30px;
  border-radius: 16px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  position: relative;
}
.form::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 150px;
  background: linear-gradient(65deg, #16d9e7, #5ef9a4);
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
